@model IEnumerable<School_Management_System.Models.result>
@using School_Management_System.Models
@{
    School_Management_System.Models.schooldbEntities db = new School_Management_System.Models.schooldbEntities();
    ViewBag.Title = "addResult";
    int exmId = Convert.ToInt32(ViewBag.exm);
    int id = Convert.ToInt32(ViewBag.subject);
    int cls = Convert.ToInt32(ViewBag.clas);
    class_subject obj = (from sub in db.class_subject where sub.classId == cls && sub.subjectId == id select sub).FirstOrDefault<class_subject>();
    School_Management_System.Models.exam obj1 = (from sub in db.exams where sub.examId == exmId select sub).FirstOrDefault<exam>();
    School_Management_System.Models.@class obj2 = (from sub in db.classes where sub.classId == cls select sub).FirstOrDefault<@class>();
    List<result> ListToBeReturned = new List<result>();
    }

<h2>addResult</h2>
@Html.BeginForm("saveResult","Result",FormMethod.Post)
<table>
    <tr>
        <th>
            Roll No.
        </th>
        <th>
            Student Name
        </th>
        <th>
            Class ID
        </th>
        <th>
            Exam ID
        </th>
        <th>
            Total Marks
        </th>
        <th>
            Obtained Marks
        </th>
    </tr>
    
        @foreach (student item in ViewBag.stdList ) { 
            <tr>
                <td>
                    @Html.Label(item.StudentRollNumber.ToString())
                </td>
                <td>
                    @Html.Label(item.StudentName)
                    
                </td>
                <td>
                    @Html.Label(@obj2.className)
                    
                </td>
                <td>
                    @Html.Label(@obj1.examName)
                    
                </td>
                <td>
                    @Html.Label(@obj.totalMarks.ToString())
                    
                </td>
                <td>
                    <input type="text" name="@item.studentId;@obj.csId;@obj1.examId;@obj.totalMarks"/>
                </td>
            </tr>
        }

</table>
            <p>
                <input type="submit" value="Submit" />
            </p>
       @{Html.EndForm();} 

       <br />
<br />
<br />
<a href="../Home/Index" style="color:red; font-size:20px;">  Back to HOME  </a>