@{
    ViewBag.Title = "Result";
    School_Management_System.Models.schooldbEntities db = new School_Management_System.Models.schooldbEntities();
    
    List<SelectListItem> Ls = new List<SelectListItem>();
    var list = (from temp in db.subjects select temp).ToList();
    foreach (var item in list)
    {
        Ls.Add(new SelectListItem() { Text = item.subjectName, Value = item.subjectId.ToString() });
    }
    List<SelectListItem> Lss = new List<SelectListItem>();
    var list1 = (from temp in db.classes select temp).ToList();
    foreach (var item in list1)
    {
        Lss.Add(new SelectListItem() { Text = item.className, Value = item.classId.ToString() });
    }
    List<SelectListItem> Lsss = new List<SelectListItem>();
    var list2 = (from temp in db.exams select temp).ToList();
    foreach (var item in list2)
    {
        Lsss.Add(new SelectListItem() { Text = item.examName, Value = item.examId.ToString() });
    }
}

<h2>Result</h2>
@using (Html.BeginForm("addResult","Result",FormMethod.Post)) {
    <table>
    <tr>
        <td>@Html.Label("Exam Name")</td>
        <td>@Html.DropDownList("examId",Lsss)</td>
    </tr>
    <tr>
        <td>@Html.Label("Subject Name")</td>
        <td>@Html.DropDownList("subjectId",Ls)</td>
    </tr>
    <tr>
        <td>@Html.Label("Class Name")</td>
        <td>@Html.DropDownList("classId",Lss)</td>
    </tr>
    </table>
    <p>
        <input type="submit" value="Submit" />
    </p>
    
    
}