@model School_Management_System.Models.teacher

@{
    ViewBag.Title = "AddTeacher";
}

<h2>AddEmployee</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>

<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>teacher</legend>

        <div class="editor-label">
            @Html.Label("Employee ID")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.teacherId)
            @Html.ValidationMessageFor(model => model.teacherId)
        </div>

        <div class="editor-label">
            @Html.Label("Employee Name")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TeacherName)
            @Html.ValidationMessageFor(model => model.TeacherName)
        </div>

        <div class="editor-label">
            @Html.Label("Employee DOB")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TeacherDOB)
           
            @Html.ValidationMessageFor(model => model.TeacherDOB)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.JoinDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JoinDate)
           
            @Html.ValidationMessageFor(model => model.JoinDate)
        </div>

        <div class="editor-label">
            @Html.Label("Employee Address")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TeacherAddress)
            @Html.ValidationMessageFor(model => model.TeacherAddress)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Telephone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Telephone)
            @Html.ValidationMessageFor(model => model.Telephone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CellPhone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CellPhone)
            @Html.ValidationMessageFor(model => model.CellPhone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MaritalStatus)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.MaritalStatus, new SelectList(@ViewBag.maritalList, "Text"), "-- Select Marital Status--")
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Gender)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Gender, new SelectList(@ViewBag.genderList, "Text"), "-- Select Gender--")
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Designation)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Designation, new SelectList(@ViewBag.designationList, "Text"), "-- Select Designation--")
        </div>

       

        <div class="editor-label">
            @Html.LabelFor(model => model.BasicSalary)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BasicSalary)
            @Html.ValidationMessageFor(model => model.BasicSalary)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.PaymentMode)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.PaymentMode, new SelectList(@ViewBag.paymentList, "Text"), "-- Select Payment Mode--")
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Account_Number)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Account_Number)
            @Html.ValidationMessageFor(model => model.Account_Number)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Status)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Status, new SelectList(@ViewBag.statusList, "Text"), "-- Select Status--")
            '1' Active | '0' In-Active
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to MANAGE EMPLOYEES", "Index")
</div>

<script type="text/javascript" >


    $(document).ready(function () {

        $("#JoinDate").datepicker();
        $("#TeacherDOB").datepicker();
         });

</script>