@model IEnumerable<School_Management_System.Models.fee>



<link rel="stylesheet" href="../../Content/Site.css"type="text/css" />
@{
    
    Layout = "../Shared/Layout_1.cshtml";
    
    }


@{
    ViewBag.Title = "DefaulterStudentsList";
}

<h2>Defaulter Students List</h2>

<font color = "blue"> Month: @ViewBag.month &nbsp&nbsp&nbsp&nbsp&nbsp Year: @ViewBag.year
</font>
<br /><br />
<table>
    <tr>
        <th>
            ID
        </th>
        <th>
            Name
        </th>
        <th>
            Class Name
        </th>
        <th>
            Family ID
        </th>
        <th>
            Due Amount
        </th>
        <th>
            Status
        </th>
        <th>
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.studentId
        </td>
        <td>
            @item.student.StudentName
        </td>
        <td>
             @{
    School_Management_System.Models.schooldbEntities db = new School_Management_System.Models.schooldbEntities();
    var clsName = (from c in db.classes where c.classId == @item.student.classId select c.className).First();
            
            }
            @clsName
        </td>
        <td>
            @item.student.familyId
        </td>
        <td>
            @item.Basic_Fee
        </td>
        <td>
            <font color="red">Defaulter</font>
        </td>
        <td>
            @Html.ActionLink("Edit", "EditFee", new { id = item.student.familyId })
        </td>
    </tr>
}

</table>

<br />
<br />
@Html.ActionLink("Back to Defaulter Menu", "FeeDefaulter")
