@{
    ViewBag.Title = "Reports";
}

<h2>Reports</h2>

@Html.ActionLink("Fee Defaulter List", "FeeDefaulter")
<br />
@Html.ActionLink("Fee Paid List", "FeePaid")
<br />
@Html.ActionLink("Section Wise Fee Report", "SectionWiseFeeReport")
<br />
@Html.ActionLink("Year Wise Fee Report", "YearWiseFeeReport")
<br />
<br />
@Html.ActionLink("Back to index", "../Home/Family")