    <nav>
      <ul>
        <li>@Html.ActionLink("Home","Index")</li>
        <li>@Html.ActionLink("About","About")</li>
        <li>@Html.ActionLink("Admissions","admissions1")</li>
        <li>@Html.ActionLink("Contact","contact")</li>
        <li>@Html.ActionLink("SignIn","signin")</li>
        </ul>
    </nav>
  </header>
</div>
<!-- content -->
<div class="wrapper row2">
  <div id="container" class="clear">
    <!-- content body -->
    <section id="slider"><a href="../../images/school 003.JPG">
	  <img src="../../images/school 003.JPG" alt=""></a></section>
	  
    <!-- main content -->
    <div id="content1">
      <!-- section 2 -->
      <section>
        <!-- article 1 -->
        <article>
          <h1>Admissions at Rainbow Grammer</h1>
          <p>This is a W3C compliant free website template from. For full terms of use of this template please read our </p>
          <p>You can use and modify the template for both personal and commercial use. You must keep all copyright information and credit links in the template and associated files. For more HTML5 templates visit.</p>
	        &emsp;  <br/>
        	&emsp;  <br/>
   			&emsp;  <br/>
        	&emsp;  <br/>
   			&emsp;  <br/>
    		&emsp;  <br/>
   			&emsp;  <br/>

        </article>
        <!-- / articles -->
      </section>
      <!-- section 2 -->
    </div>
    <!-- right column -->
    <aside id="right_column">
    </aside>
    <!-- / content body -->
  </div>
</div>
