    <nav>
      <ul>
        <li>@Html.ActionLink("Home","Index")</li>
        <li>@Html.ActionLink("About","About")</li>
        <li>@Html.ActionLink("Admissions","admissions1")</li>
        <li>@Html.ActionLink("Contact","contact")</li>
        <li>@Html.ActionLink("SignIn","signin")</li>
        </ul>
    </nav>
  </header>
</div>
<!-- content -->
<div class="wrapper row2">
  <div id="container" class="clear">
    <!-- content body -->
    <section id="slider"><a href="images/map.jpg">
	  <iframe width="935" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=green+town+pakistan&amp;aq=&amp;sll=31.434246,74.304488&amp;sspn=0.019187,0.042272&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=Green+Town,+Lahore,+Lahore+District,+Punjab,+Pakistan&amp;ll=31.434246,74.304488&amp;spn=0.019188,0.042272&amp;z=14&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=green+town+pakistan&amp;aq=&amp;sll=31.434246,74.304488&amp;sspn=0.019187,0.042272&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=Green+Town,+Lahore,+Lahore+District,+Punjab,+Pakistan&amp;ll=31.434246,74.304488&amp;spn=0.019188,0.042272&amp;z=14" style="color:#0000FF;text-align:left">View Larger Map</a></small>
	  </section>
	     <!-- main content -->
    <div id="content1">
      <!-- section 2 -->
      <section>
        <!-- article 1 -->
        <article>
          <h1>Contact Details</h1>
 	        <p>Office: </p>
			<p>&emsp;&emsp; &emsp;&emsp;Yousaf Islam House</p>
			<p>&emsp;&emsp; &emsp;&emsp;39-Link Farid Kot Raod, Lahore</p>
			<p>&emsp;&emsp; &emsp;&emsp;Ph:       042-37236166, 042-35084866</p>
			<p>&emsp;&emsp; &emsp;&emsp;Fax:     042-37236166</p>
			<p>&emsp;&emsp; &emsp;&emsp;Email: <a href="info@rainbow.edu.pk">info@rainbow.edu.pk</a> </p>
			<p>&emsp;&emsp; &emsp;&emsp;URL:   <a href="www.rainbowgrammer.edu.pk">www.rainbowgrammer.edu.pk</a></p>
        </article>
        <!-- / articles -->
      </section>
      <!-- section 2 -->
      
    </div>
    <!-- right column -->
    <aside id="right_column">
          </aside>
    <!-- / content body -->
  </div>
</div>
