    <nav>
      <ul>
        <li>@Html.ActionLink("Home","Index")</li>
        <li>@Html.ActionLink("About","About")</li>
        <li>@Html.ActionLink("Admissions","admissions1")</li>
        <li>@Html.ActionLink("Contact","contact")</li>
        <li>@Html.ActionLink("SignIn","signin")</li>
        </ul>
    </nav>
    </div>
<!-- content -->
	
	
<div class="wrapper row2">
  <div id="container" class="clear">
    <!-- content body -->
    <script src="../../Scripts/jquery-1.5.2.min.js" type="text/javascript"></script>
    <script src="../../Scripts/jcarousellite_1.0.1c4.js"  type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $("#newsticker-demo").jCarouselLite({
                vertical: true,
                hoverPause: true,
                btnPrev: ".previous",
                btnNext: ".next",
                visible: 3,
                auto: 3000,
                speed: 500
                });
            });
    </script>

    <section id="slider"><a href="../../images/school 003.JPG">
	  <img src="../../images/school 003.JPG" alt="Rainbow Grammer School" /></a></section>
	
  	<div>
	  </div>
	  <div class="marque">
	  <font size="5" face="courier" color="#cc7781"><strong><i>Latest News:</i></strong></font><font size="4" face="courier" color="#c0bab6"><MARQUEE WIDTH=100% BEHAVIOR=SCROLL BGcolor=#441651 LOOP=60>This is an example of a scrolling...</MARQUEE></font>
	  </div>
    <!-- main content -->
    <div id="content">
      <!-- section 2 -->
      <section>
        <!-- article 1 -->
        <article>
          <h1>Introduction</h1>
          <p>This is a W3C compliant free website template from. For full terms of use of this template please read our </p>
          <p>You can use and modify the template for both personal and commercial use. You must keep all copyright information and credit links in the template and associated files. For more HTML5 templates visit.</p>
        </article>
        <!-- / articles -->
      </section>
      <!-- section 2 -->
      <section id="latest" class="last">
        <ul>
          <li>
            <article class="clear">
              <figure><img src="../../images/demo/180x150.gif" alt="" />
                <figcaption>
                  <h2>Principal's Message</h2>
                  <p>Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna. Urnaultrices quis curabitur phasellentesque congue magnis vestibulum quismodo nulla et feugiat. Adipisciniapellentum leo ut consequam ris felit elit id.</p>
                  <footer class="more"><a href="#">Read More &raquo;</a></footer>
                </figcaption>
              </figure>
            </article>
          </li>
          <li class="last">
            <article class="clear">
              <figure><img src="../../images/demo/180x150.gif" alt="">
                <figcaption>
                  <h2>Indonectetus facilis leo nibh</h2>
                  <p>Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna. Urnaultrices quis curabitur phasellentesque congue magnis vestibulum quismodo nulla et feugiat. Adipisciniapellentum leo ut consequam ris felit elit id.</p>
                  <footer class="more"><a href="#">Read More &raquo;</a></footer>
                </figcaption>
              </figure>
            </article>
          </li>
        </ul>
      </section>
    </div>
    <!-- right column -->
    <aside id="right_column">
      <h2 class="title1">News Updates</h2>
      
         <img src="../../images/news-arrow-previous.png"  alt="" class="previous" />
 <div id="newsticker-demo">
     <ul>
       <li>
			<p>
				<span class="title">Tip: </span>Looking for new scripts?<br/>
				Visit our homepage to see the latest scripts.
       		</p>
       </li>
       <li>
       		<p>
       			<span class="title">Find: </span>Scripts by category?<br/>
				A collection of popular scripts by category
			</p>
       </li>
       <li>
       		<p>
       			<span class="title">Help: </span>Say hello?<br/>
				Need some help?  Just drop us a line.
			</p>
       </li>
       <li>
       		<p>
       			<span class="title">Wow: </span>Navigation?<br/>
				Looking for some cool navigation scripts
			</p>
       </li>
       <li>
       		<p>
       			<span class="title">Request: </span>Need a script?<br/>
				Can't find the the script you're looking for'?  Ask us!
			</p>
       </li>
     </ul>
 </div>
 <img src="../../images/news-arrow.png" alt="" class="next" />

      
      <!-- /nav -->
      <h2 class="title">More about Us</h2>
      <section class="last">
        <address>
        Full Name<br/>
        Address Line 1<br/>
        Address Line 2<br/>
        Town/City<br/>
        Postcode/Zip<br/>
        <br/>
        Tel: xxxx xxxx xxxxxx<br/>
        Email: <a href="#">contact@domain.com</a>
        </address>
      </section>
      <!-- /section -->
    </aside>
    <!-- / content body -->
  </div>
</div>
