    <nav>
      <ul>
        <li>@Html.ActionLink("Home","Index")</li>
        <li>@Html.ActionLink("About","About")</li>
        <li>@Html.ActionLink("Admissions","admissions1")</li>
        <li>@Html.ActionLink("Contact","contact")</li>
        <li>@Html.ActionLink("SignIn","signin")</li>
        </ul>
    </nav>
  </header>
</div>
<!-- content -->
<link rel="stylesheet" href="../../Content/style1.css" type="text/css">
<div class="wrapper row2">
  <div id="container" class="clear">
    <!-- content body -->
    &nbsp;  
    <!-- main content -->
    <div id="content1">
      <!-- section 2 -->
          <h1>Sign In</h1>
          <div id="content">
	
		<form action="#" method="POST" id="login-form">
		
			<fieldset>

				<p>
					<label for="login-username">user Name</label>
					<input type="text" id="login-username" class="round full-width-input" autofocus />
				</p>

				<p>
					<label for="login-password">password</label>
					<input type="password" id="login-password" class="round full-width-input" />
				</p>
				
				<p>I've <a href="#">forgotten my password</a>.</p>
				
				<a href="../Home/Index" class="button round blue image-right ic-right-arrow" style="font-size:medium">LOG IN</a>

			</fieldset>

			<br/>
			<div class="information-box round">Just click on the "LOG IN" button to continue.</div>

		</form>
		
	</div>
			&emsp;  <br/>
            &emsp;  <br/>
   			&emsp;  <br/>
   			&emsp;  <br/>
   			&emsp;  <br/>
        	&emsp;  <br/>
   			&emsp;  <br/>
   			&emsp;  <br/>
   			&emsp;  <br/>
   			&emsp;  <br/>
   			&emsp;  <br/>
   			&emsp;  <br/>
        	&emsp;  <br/>
   			&emsp;  <br/>
        	&emsp;  <br/>
   			&emsp;  <br/>
        	&emsp;  <br/>
   			&emsp;  <br/>
        	&emsp;  <br/>
   			&emsp;  <br/>
   			&emsp;  <br/>
        	&emsp;  <br/>
   			&emsp;  <br/>
        	&emsp;  <br/>
   			&emsp;  <br/>
        	&emsp;  <br/>
   			&emsp;  <br/>
        	&emsp;  <br/>
   			&emsp;  <br/>
        	&emsp;  <br/>
   			&emsp;  <br/>
   			&emsp;  <br/>
        	&emsp;  <br/>
   			&emsp;  <br/>
        	&emsp;  <br/>
   			&emsp;  <br/>
    		&emsp;  <br/>
   			&emsp;  <br/>
			&emsp;  <br/>
        	&emsp;  <br/>
   			&emsp;  <br/>
        	&emsp;  <br/>
   			&emsp;  <br/>
    		&emsp;  <br/>
   			&emsp;  <br/>
        
          </div>
     </div>
</div>
