<link rel="stylesheet" href="css/demo.css" />
<link rel="stylesheet" href="css/cbdb-btn.css" />
<div>
    @Html.ActionLink("Mark Holidays", "Holidays", "Attendance") |
    @Html.ActionLink("Update Timing", "Timing", "Attendance") |
    @Html.ActionLink("Mark Leave", "Leave", "Attendance") |
    @Html.ActionLink("Mark Attendance", "", "Attendance/Index") |
    @Html.ActionLink("View Attendance", "ViewAttendance", "Attendance") |
    @Html.ActionLink("View Absents", "ViewAbsents", "Attendance") |
    @Html.ActionLink("Edit Attendance", "EditAttendance", "Attendance") |
    @Html.ActionLink("Salary Reports", "ViewSalaryReports", "Attendance") |
    @Html.ActionLink("Student Attendance", "StudentAttendance", "Attendance")
</div>
<hr />