@model School_Management_System.Models.family


<link rel="stylesheet" href="../../Content/Site.css"type="text/css" />
@{
    
    Layout = "../Shared/Layout_1.cshtml";
    
    }


@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
<br /><br />

<h3>Are you sure you want to delete this?</h3>
<br />
<fieldset>
    <legend>family</legend>

    <div class="display-label">familyId</div>
    <br />
    <div class="display-field">@Model.familyId</div>

    <div class="display-label">FatherName</div>
    <br />
    <div class="display-field">@Model.FatherName</div>

    <div class="display-label">FatherNIC</div>
    <br />
    <div class="display-field">@Model.FatherNIC</div>

    
    <div class="display-label">MotherName</div>
    <br />
    <div class="display-field">@Model.MotherName</div>
        
    <div class="display-label">Religion</div>
    <br />
    <div class="display-field">@Model.Religion</div>
        
    <div class="display-label">Nationality</div>
    <br />
    <div class="display-field">@Model.Nationality</div>
</fieldset>
@using (Html.BeginForm()) {
    <br /><br />
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


